:host main {
  height: calc(100vh - 160px);
  overflow: scroll;
  max-width: 1280px;
  margin: auto;
}

header {
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
  color: var(--secondary-gold);
}
