.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: var(--primary-red);
}

.hero img {
  width: 83%;
}

.about {
  margin-top: 40px;
  color: rgb(255, 255, 255);
  text-align: center;
  background-image: url("../../../assets/images/a_vibrant_and_cozy_winter_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about article {
  border-radius: 20px;
}

.about article {
  background-color: rgba(0, 0, 0, 0.5);
}

.title-case {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.title-case span {
  width: 100%;
  height: 10px;
  border: solid 4px white;
  margin-top: 15px;
}

.title-case h1 {
  text-align: center;
  font-size: 48px;
  margin: 0px 10px;
}

.title-case:not(:first-of-type) {
  display: none;
}

.about {
  width: calc(100% - 8px);
  padding: 4px;
  margin: auto;
}
.about article {
  margin: 50px 0;
}

.about p {
  font-size: 36px;
}

.line-span {
  border: solid 3px var(--primary-gold);
  width: 100%;
  height: 20px;
}

.contact-section {
  margin: 50px;
}

/* Conteneur principal pour les calendriers */
.calendars-container {
  display: flex;
  flex-wrap: wrap;
  height: 877px;
  justify-content: center;
  gap: 20px; /* Espacement entre les calendriers */
  padding: 30px;
}

/* Style pour chaque calendrier */
.calendar {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 colonnes égales */
  grid-template-rows: repeat(4, 1fr); /* 4 lignes égales */
  width: 340px; /* Largeur du calendrier */
  height: 250px; /* Hauteur du calendrier */
  background-size: cover; /* Ajuste l'image au calendrier */
  background-position: center;
  border-radius: 10px; /* Coins arrondis */
  border: 2px solid #ccc; /* Bordure grise */
  gap: 5px; /* Espacement entre les cases */
  padding: 10px;
}

/* Style pour chaque case */
.case {
  border: 2px solid white; /* Bordure blanche */
  border-radius: 8px; /* Coins arrondis */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1); /* Fond semi-transparent */
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-gold);
  background-color: var(--primary-red);

  padding-top: 10px;
  padding-bottom: 30px;
}
.contact h1 {
  text-align: center;
  font-size: clamp(2rem, 12vw, 3rem);
}

.social-links {
  display: flex;
  justify-content: center;
  height: 48px;
  gap: 25%;
  margin: 50px 10px;
}
.social-links div {
  cursor: pointer;
}

.social-links div {
  display: flex;
  flex-direction: column;
}

.social-links img {
  height: 48px;
}

@media screen and (min-width: 500px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about article p {
    width: 500px;
  }
  .social-links span {
    display: inline;
  }
  .social-links div {
    display: flex;
    flex-direction: column;
    max-width: 160px;
  }

  .social-links img {
    height: 48px;
  }
}
@media screen and (min-width: 720px) {
  .hero img {
    width: 600px;
  }
  .about article:first-of-type {
    width: 720px;
  }
  .title-case:not(:first-of-type) {
    display: flex;
  }
  .separation-block {
    display: none;
  }
  .calendars-container {
    align-items: center;
    justify-content: center;
  }

  .calendars-container-title {
    display: none;
  }
  .social-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .social-links div {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px;
    gap: 10px;
    width: 160px;
  }
}

@media screen and (min-width: 1280px) {
  .hero img {
    position: relative;
    right: 200px;
  }
  .calendars-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 285px;
    width: 1200px;
  }
  .calendar-item {
    width: 364px;
  }
  .contact > div {
    display: grid;
    width: 1280px;
    grid-template-columns: 1fr 1fr;
  }
  .social-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .social-links div {
    justify-content: start;
    margin: 20px;
  }
}
