<app-navbar></app-navbar>
<section class="hero">
  <img src="assets/logo/logo.svg" alt="logo" />
</section>
<section class="about">
  <div class="title-case">
    <span></span>
    <h1>A&nbsp;propos</h1>
    <span></span>
  </div>
  <article>
    <p>Bienvenue</p>
    <p>
      Je suis Michel de la boutique Osez-Noël. Partageons ensemble l’esprit de
      Noël en offrant à vos proches un calendrier de l’avent virtuel.
    </p>
  </article>
  <div class="separation-block">
    <img src="assets/icons/tree_gold.svg" alt="tree" />
  </div>
  <div class="title-case">
    <span></span>
    <h1>Choisissez&nbsp;votre&nbsp;calendrier</h1>
    <span></span>
  </div>

  <article>
    <p class="calendars-container-title">
      Choisissez parmi un large choix de calendriers
    </p>
    <div class="calendars-container">
      <!-- Générer les calendriers avec des backgrounds différents -->
      <ng-container *ngFor="let background of calendarBackgrounds">
        <app-calendar-sm [background]="background"></app-calendar-sm>
      </ng-container>
    </div>
  </article>
</section>
<section class="contact">
  
  <div>
    <div class="contact-section">
      <h1>Nous Contacter</h1>
      <app-contact-form />
    </div>

    <div class="contact-section">
      <h1>Nous Suivre</h1>
      <div class="social-links">
        <div>
          <img src="assets/social_icons/facebook.svg" alt="facebook" /><span
            >Facebook</span
          >
        </div>
        <div>
          <img src="assets/social_icons/instagram.svg" alt="instagram" /><span
            >Instagram</span
          >
        </div>
        <div>
          <img src="assets/social_icons/tiktok.svg" alt="tiktok" /><span
            >TikTok</span
          >
        </div>
      </div>
    </div>
  </div>
  
</section>
<app-footer></app-footer>
