<!-- Form -->
<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" novalidate>
  <!-- Title -->
  <h1>Connectez-vous</h1>

  <!-- Email Field -->
  <div>
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="formData.email"
      #email="ngModel"
      required
      email
      (click)="resetIsSubmited()"
    />

    <!-- Error messages (only show after submit) -->
    @if (submitted && email.errors?.['required'] && loading() === false) {
    <p>⚠️ Email requis.</p>
    } @if (submitted && email.errors?.['email'] ) {
    <p>⚠️ Veuillez entrer un email valide.</p>
    } @if(submitted && error()) {
    <p>{{ error() }}</p>
    }
  </div>

  <!-- Password Field -->
  <div>
    <label for="password">Mot de passe</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="formData.password"
      #password="ngModel"
      required
      (click)="resetIsSubmited()"
    />

    <!-- Error messages (only show after submit) -->
    @if (submitted && password.errors?.['required'] && loading() === false) {
    <p>⚠️ Mot de passe requis.</p>
    } @if(submitted && error()) {
    <p>{{ error() }}</p>
    }
  </div>

  <!-- Submit Button -->
  <button type="submit">Se connecter</button>

  <!-- Toggle button -->
  @if (isSmallScreen()) {
  <p class="switch" (click)="toggleAsAccount()">Créer un compte</p>
  }
</form>
