<app-layout [headerTitle]="headerTitle" [headerIcon]="headerIcon">
  <section>
    <div class="calendars-container">
      @for(calendar of displayedOwnCalendars(); track calendar.id){
      <app-calendar-list-article
        [calendar]="calendar"
        [routerLink]="['/calendar', calendar.id]"
      />
      - } @empty {
      <p>There are no items.</p>
      }
    </div>
    <div>
      <button (click)="prevPage('ownCalendars')">prev</button
      ><button (click)="nextPage('ownCalendars')">next</button>
    </div>
  </section>
  <section>
    <h1>Mes Créations</h1>
    <div class="calendars-container">
      @for(calendar of displayedGiftedCalendars(); track calendar.id){

      <app-calendar-list-article
        [calendar]="calendar"
        [routerLink]="['/calendar', calendar.id, 'edit']"
      />

      } @empty {
      <p>There are no items.</p>
      }
    </div>
    <div>
      <button (click)="prevPage('giftedCalendars')">prev</button
      ><button (click)="nextPage('giftedCalendars')">next</button>
    </div>
  </section>
</app-layout>
