section {
  margin: 50px 0;
}

div {
  display: flex;
  justify-content: center;

  gap: 20px;
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 34px;
  color: var(--secondary-gold);
  margin: 20px;
}

button {
  cursor: pointer;
}

button {
  font-size: 24px;
  font-family: "Inter";
  padding: 5px 20px;
  background-color: var(--primary-gold);

  border: solid 3px var(--secondary-gold);
}

@media screen and (min-width: 960px) {
  .calendars-container {
    display: grid;
    width: 960px;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .calendars-container {
    display: grid;
    width: 1280px;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
  }
}
