:host {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 280px;
  max-height: 280px;
}

div {
  display: flex;
  height: calc(80% - 20px);
  width: 80%;
  border-radius: 8px; /* Coins arrondis */
  padding: 10px;
  margin: auto;
  font-size: 48px;
}

.closed {
  align-items: end;
  justify-content: end;

  background-color: rgba(0, 0, 0, 0.3); /* Fond semi-transparent */
  border: solid 2px white;
  color: white;
}

.opened {
  align-items: end;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.3); /* Fond semi-transparent */
  color: #dddd;
}

.empty {
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  color: white;
}

.closed:hover {
  border-color: var(--primary-gold);
  color: var(--primary-gold);
}

.opened:hover {
  color: var(--secondary-gold);
}
