<div class="navbar">
  @if(isConnected()===false){
  <nav>
    <img src="assets/icons/hamburger.svg" alt="Menu" class="hamburger" />
    <img
      src="assets/icons/user_profile.svg"
      alt="Menu"
      class="nav-logo-links"
    />
    <span class="nav-links">Connection</span>
  </nav>
  } @if(isConnected()===true){
  <nav>
    <img src="assets/icons/hamburger.svg" alt="Menu" class="hamburger" />
    <div class="nav-logo-links">
      <img src="assets/icons/chrismas_ball.svg" alt="Menu" class="hamburger" />
      <img src="assets/icons/ribbon.svg" alt="Menu" class="hamburger" />
      <img src="assets/icons/plus.svg" alt="Menu" class="hamburger" />
      <img src="assets/icons/user_check.svg" alt="Menu" class="hamburger" />
    </div>
    <div class="nav-links">
      <ul>
        <li>Acceuil</li>
        <li>Création</li>
        <li>Calendrier</li>
        <li>Profile</li>
        <li>Connection</li>
      </ul>
    </div>
  </nav>
  }
</div>
