<div class="navbar">
  <nav>
    <!-- Hamburger Icon -->
    <img
      src="assets/icons/hamburger.svg"
      alt="Menu"
      class="hamburger"
      (click)="toggleSidebar()"
    />

    <!-- Sidebar Menu -->
    <div class="nav-links" [class.open]="isSidebarOpen">
      <!-- Close Button -->
      <span class="close-btn" (click)="toggleSidebar()">×</span>

      <!-- Navigation Links -->
      @if(isAuthenticated()===false){
      <div [routerLink]="'/sign'">
        <ul>
          @if(!isRouteActive("/")){
          <li [routerLink]="'/'">
            <img src="assets/icons/home-page.svg" alt="/home" /><span
              >Accueil</span
            >
          </li>
          } @if(!isRouteActive("/sign")){
          <li>
            <img src="assets/icons/user_profile.svg" alt="Menu" />
            <span>Connection</span>
          </li>
          }
        </ul>
      </div>
      } @if(isAuthenticated()===true){
      <ul>
        <li [routerLink]="'/'">
          <img src="assets/icons/home-page.svg" alt="/home" /><span
            >Accueil</span
          >
        </li>
        <li [routerLink]=" '/calendars-list'">
          <img src="assets/icons/chrismas_ball.svg" alt="Christmas ball" /><span
            >Calendrier</span
          >
        </li>
        <li [routerLink]="'/new-calendar'">
          <img src="assets/icons/plus.svg" alt="Plus" /><span>Création</span>
        </li>
        <li [routerLink]="'/user'">
          <img src="assets/icons/user_check.svg" alt="User" /><span
            >Profile</span
          >
        </li>
        <li (click)="logout()">
          <img src="assets/icons/user_delete.svg" alt="Logout" />
          <span>Déconnexion</span>
        </li>
      </ul>
      }
    </div>
  </nav>
</div>
