<!-- Form -->
<form (ngSubmit)="onSubmit(signUpForm)" #signUpForm="ngForm">
  <!-- Title -->
  <h1>Inscription</h1>
  <!-- Username Field -->
  <div>
    <label for="username">Identifiant</label>
    <input
      type="text"
      id="username"
      name="username"
      [(ngModel)]="formData.username"
      #username="ngModel"
      minlength="4"
      required
      (click)="resetIsSubmited()"
    />
    @if(submitted && error()) {
    <p>{{ error() }}</p>
    } @else if (submitted && username.errors?.['required']) {
    <p>⚠️ Identifiant requis.</p>
    } @else if (submitted && username.errors?.['minlength']) {
    <p>⚠️ 6 caractères minimum</p>
    }
  </div>

  <!-- Email Field -->
  <div>
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      [(ngModel)]="formData.email"
      #email="ngModel"
      email
      required
      (click)="resetIsSubmited()"
    />
    @if(submitted && error()) {
    <p>{{ error() }}</p>
    }@else if (submitted && email.errors?.['required'] && loading() === false) {
    <p>⚠️ Email requis.</p>
    } @else if (submitted && email.errors?.['email']) {
    <p>⚠️ Veuillez entrer un email valide.</p>
    }
  </div>

  <!-- Password Field -->
  <div>
    <label for="password">Mot de passe</label>
    <input
      type="password"
      id="password"
      name="password"
      [(ngModel)]="formData.password"
      #password="ngModel"
      minlength="6"
      required
      (click)="resetIsSubmited()"
    />
    @if(submitted && error()) {
    <p>{{ error() }}</p>
    } @else if (submitted && password.errors?.['required'] && loading() ===
    false) {
    <p>⚠️ Mot de passe requis.</p>
    } @else if (submitted && password.errors?.['minlength']) {
    <p>⚠️ 6 caractères minimum</p>
    }
  </div>

  <!-- Submit Button -->
  <button type="submit">S'inscrire</button>
  <!-- Toggle button -->
  @if(isSmallScreen()){
  <p class="switch" (click)="toggleAsAccount()">Se connecter</p>
  }
</form>
