section {
  height: 100%;
  width: 300vw;
  overflow: hidden;
}

@media screen and (min-width: 500px) {
  section {
    width: 200vw;
  }
}

@media screen and (min-width: 720px) {
  section {
    width: 100vw;
  }
}
