form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  font-size: 24px;
  color: var(--secondary-gold);
}

div {
  display: flex;
  flex-direction: column;
}

input,
select,
textarea,
label {
  width: 100%;
  max-width: 340px;
}

input,
select {
  height: 30px;
}

textarea {
  height: 140px;
}

button {
  font-size: 24px;
  font-family: "Inter";
  margin: auto;
  width: 150px;
  padding: 5px 0;
  border-radius: 10px;
  background-color: var(--primary-gold);
}

.active {
  color: var(--secondary-gold);
}
