<form (ngSubmit)="OnSubmit()">
  <!-- Theme Input -->
  <div>
    <label for="theme">theme</label>
    <select id="theme" name="theme" (change)="onThemeSelect($event)">
      @for(theme of themeOptions(); track theme.name){
      <option [value]="theme.path">{{ theme.name }}</option>
      }
    </select>
  </div>
  <!-- Email Input -->
  <div>
    <label for="destinataire">destinataire</label>
    <input
      type="email"
      id="destinataire"
      name="destinataire"
      placeholder="Entrer l'email du destinataire"
      [(ngModel)]="email"
    />
  </div>

  <!-- Message Input -->
  <div>
    <label for="message">message</label>
    <textarea
      id="message"
      name="message"
      placeholder="Entrer votre message"
      rows="4"
      cols="50"
      [(ngModel)]="message"
    ></textarea>
  </div>
  <button type="submit" [disabled]="!isFormValid()">Valider</button>
</form>
