<form>
  <!-- Theme Input -->
  <div>
    <label for="theme">theme</label>
    <select id="theme" name="theme">
      <option value="" disabled selected>Selectionner un thème</option>
      <option value="theme1">Theme 1</option>
      <option value="theme2">Theme 2</option>
      <option value="theme3">Theme 3</option>
    </select>
  </div>
  <!-- Email Input -->
  <div>
    <label for="destinataire">destinataire</label>
    <input
      type="email"
      id="destinataire"
      name="destinataire"
      placeholder="Entrer l'email du destinataire"
    />
  </div>

  <!-- Message Input -->
  <div>
    <label for="message">message</label>
    <textarea
      id="message"
      name="message"
      placeholder="Entrer votre message"
      rows="4"
      cols="50"
    ></textarea>
  </div>
</form>
