:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles pour le titre */
h1 {
  color: var(--secondary-gold);
  font-size: 36px;
}
p {
  font-size: 20px;
}

/* Styles pour le formulaire */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 377px;
  font-size: 36px;
  gap: 20px;
  background-color: var(--primary-gold);
  padding: 40px;
  border-radius: 20px;
  color: var(--secondary-gold);
}

/* Styles pour les divs dans le formulaire */
form div {
  display: flex;
  flex-direction: column;
}

/* Styles pour les champs de saisie */
form input {
  font-size: 28px;
  border-radius: 2px;
  width: 300px;
}

/* Styles pour le bouton */
button {
  width: 200px;
  height: 40px;
  background-color: var(--primary-red);
  color: var(--primary-gold);
  font-size: 20px;
  border-radius: 20px;
}

button,
p {
  position: relative;
  top: 90px;
}
