<!-- Titre -->
<h1 [routerLink]="['/calendar-list']" (click)="onClick()">Connectez-vous</h1>

<!-- Formulaire -->
<form>
  <!-- Champ Email -->
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required />
  </div>

  <!-- Champ Mot de passe -->
  <div>
    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="password" required />
  </div>

  <!-- Bouton de soumission -->
  <button type="submit">Se connecter</button>
  <p (click)="toggleAsAccount()">Créer un compte</p>
</form>
