section {
  height: 100%;
  display: flex;
  justify-content: center;
  background-image: url("../../../assets/images/a_vibrant_and_cozy_winter_2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media screen and (min-width: 1280px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
