section,
div {
  display: flex;
  flex-direction: column;
}

section {
  height: 100%;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/images/a_vibrant_and_cozy_winter_0.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

/* Styles pour le titre */
h1 {
  font-size: 36px;
}
p {
  font-size: 20px;
}

/* Styles pour le formulaire */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  font-size: 36px;
  gap: 20px;
  background-color: rgb(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 20px;
  color: white;
}

/* Styles pour les divs dans le formulaire */
form div {
  display: flex;
  flex-direction: column;
}

/* Styles pour les champs de saisie */
form input {
  font-size: 22px;
  border-radius: 2px;
  width: 300px;
  height: 40px;
}

#id {
  height: 80px;
}

/* Styles pour le bouton */
button {
  width: 200px;
  height: 40px;
  background-color: var(--primary-red);
  color: var(--primary-gold);
  font-size: 20px;
  border-radius: 20px;
}

.delete-btn {
  margin-top: 20px;
  background-color: #dddd;
  color: var(--primary-red);
}
