/* Style pour chaque calendrier */
.calendar {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 colonnes égales */
  grid-template-rows: repeat(4, 1fr); /* 4 lignes égales */
  /* Largeur du calendrier */
  width: 80vw;
  max-width: 340px;
  /* Hauteur du calendrier */
  aspect-ratio: 4 / 3;
  background-size: cover; /* Ajuste l'image au calendrier */
  background-position: center;
  border-radius: 10px; /* Coins arrondis */
  border: 2px solid #ccc; /* Bordure grise */
  gap: 5px; /* Espacement entre les cases */
  padding: 10px;
  margin: auto;
}

/* Style pour chaque case */
.case {
  border: 2px solid white; /* Bordure blanche */
  border-radius: 8px; /* Coins arrondis */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1); /* Fond semi-transparent */
  color: white;
  font-weight: bold;
  font-size: 16px;
}
